VIDEO:Main:video_main
x=0
y=0
width=1280
height=720

ENCODER:Main:encoder_main
width=1280
height=720
quality=1.0
encoder=H264

PTZ:Main:ptz_main
abs_pantilt=true
abs_zoom=true
rel_pantilt=true
rel_zoom=true
con_pantilt=true
con_zoom=true
pan_speed=1.0
tilt_speed=1.0
zoom_speed=0.1
pan_min=-180.0
pan_max=180.0
tilt_min=-180.0
tilt_max=180.0
zoom_min=0.0
zoom_max=1.0
node_token=main_node
