# :device:device is useless but it simplifies code :)
DEVICE:device:device
manufacturer=Manufacturer
model=Model
firmware_version=0.1
serial_number=1234567890
hardware_id=1234567890
scope=onvif://www.onvif.org/Profile/Streaming
scope=onvif://www.onvif.org/hardware/RaspberryPI3
scope=onvif://www.onvif.org/location/country/France
scope=onvif://www.onvif.org/location/city/Paris
scope=onvif://www.onvif.org/name/TestDevice
