# Configurations have default value if none provided.
# Comments are default values.
# Check README.md for configuration explanation

# ========= DEVICE =============

DEVICE:device:device
#manufacturer=Manufacturer
#model=Model
#firmware_version=0.1
#serial_number=1234567890
#hardware_id=1234567890
scope=onvif://www.onvif.org/Profile/Streaming
scope=onvif://www.onvif.org/hardware/RaspberryPI3
scope=onvif://www.onvif.org/location/country/France
scope=onvif://www.onvif.org/location/city/Paris
scope=onvif://www.onvif.org/name/TestDevice
#port=8080

# ========= STREAM ==============

STREAM:stream:stream
#stream_endpoint=cam
stream_port=8554
#encoder=vaapih264enc
#camera_lib=camera/libdummy.so
#framerate=30
#width=1280
#height=720

# ========= CONFIGURATIONS =============

VIDEO:Main:video_main
#x=0
#y=0
#width=1280
#height=720

ENCODER:Main:encoder_main
#width=1280
#height=720
#quality=1.0
#encoder=H264

PTZ:Main:ptz_main
#abs_pantilt=false
#abs_zoom=false
#rel_pantilt=false
#rel_zoom=false
#con_pantilt=false
#con_zoom=false
#pan_speed=1.0
#tilt_speed=1.0
#zoom_speed=0.1
#pan_min=-180.0
#pan_max=180.0
#tilt_min=-180.0
#tilt_max=180.0
#zoom_min=0.0
#zoom_max=1.0
node_token=main_node

# ========= NODES ==============

NODE:Main:main_node
#fixed_home=false
#geo_move=false
#max_presets=10
#support_home=true
#abs_pan_min=-180.0
#abs_pan_max=180.0
#abs_tilt_min=-180.0
#abs_tilt_max=180.0
#abs_zoom_min=0.0
#abs_zoom_max=1.0
#rel_pan_min=-1.0
#rel_pan_max=1.0
#rel_tilt_min=-1.0
#rel_tilt_max=1.0
#rel_zoom_min=-0.1
#rel_zoom_max=0.1
#con_pan_min=-1.0
#con_pan_max=1.0
#con_tilt_min=-1.0
#con_tilt_max=1.0
#con_zoom_min=-1.0
#con_zoom_max=1.0
#speed_pan_min=0.0
#speed_pan_max=1.0
#speed_tilt_min=0.0
#speed_tilt_max=1.0
#speed_zoom_min=0.0
#speed_zoom_max=1.0

# ========= PROFILE =============

PROFILE:Main:main
#fixed=true
video_conf=video_main
encoder_conf=encoder_main
ptz_conf=ptz_main
