# ========= DEVICE =============

DEVICE:device:device
manufacturer=John Doe
model=RPI-Onvif
firmware_version=1.0
serial_number=0xdeadbeaf
hardware_id=0xcafe
scope=onvif://www.onvif.org/Profile/Streaming
scope=onvif://www.onvif.org/hardware/RaspberryPI3
scope=onvif://www.onvif.org/location/country/France
scope=onvif://www.onvif.org/location/city/Paris
scope=onvif://www.onvif.org/name/TestDevice

# ========= CONFIGURATIONS =============

VIDEO:Main:video_main

ENCODER:Main:encoder_main

# ========= NODES ==============

NODE:Main:main_node
fixed_home=true
max_presets=20

# ========= STREAM ==============

STREAM:stream:stream
stream_port=8554
encoder=omxh264enc
camera_lib=camera/libv4l2cam.so

# ========= PROFILE =============

PROFILE:Main:main
video_conf=video_main
encoder_conf=encoder_main
